{% extends "skeleton.html" %}
{% load staticfiles %}

<link rel="shortcut icon" href="{% static 'favicon.ico' %}">

<!-- Scripts i css del slider (no van)
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
-->
{% block content %}
    {% if notModify == True %}
        <br><br>
        <div class="col-md-12">
            <center>
                <div class="panel panel-red">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Task can not be modified</h1>
                    </div>
                    <div class="panel-body">
                        {% if task.state == "Running" %}
                            <p>This task can not be modified because it is already Running. You can delete it and
                                OpenVAS will stop, and create a new one with the parameters modified.</p>
                        {% elif task.state == "Blocked" %}
                            <p>This task can not be modified because it is Blocked. You will have to wait the system to
                                properly stop OpenVAS (1 minute top) and create a new one with the desired
                                parameters.</p>
                        {% endif %}
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-default"
                                onclick="window.location.href='/OpenVAS/tasks'">
                            OpenVAS Tasks
                        </button>
                        {% if task.state != "Blocked" %}
                            <button type="submit" class="btn btn-danger"
                                    onclick="window.location.href='{% url 'openvas_delete' task.id %}'">
                                Delete
                            </button>
                        {% endif %}
                    </div>
                </div>
            </center>
        </div>
    {% else %}

        <!-- Nice Page-Advisor not able to close in grey-->
        <!--
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-question-circle"></i> Saps com utilitzar SQLmap? Més informació <a href="/SQLmap/how_to">aquí</a>
                    </li>
                </ol>
            </div>
        </div> -->
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">OpenVAS<small>New Task</small></h1>
                </div>
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-info-circle"></i> <strong>Do you know how to use OpenVAS?</strong> More information
                    <a
                            href="/OpenVAS/how_to" class="alert-link">here</a> about its usage.
                </div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;
                            </button>
                            <i class="fa fa-exclamation-circle"></i> <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <!-- /.row -->

        <div data-role="main" class="ui-content">
            <form method="post" action="#"> <!-- TODO: Substituir # per script a executar quan es cliqui submit-->
                {% csrf_token %}
                <h3>Name</h3>
                <div class="row container-fluid">
                    <div class="col-md-6">
                        <label for={form.name.id_for_label}>Task name:</label>
                        {{ form.name }}
                        {% if form.name.errors %}
                            <span class="error" style="color:red">
                            {% for error in form.name.errors %}{{ error }}{% endfor %}
                        </span>
                        {% endif %}
                        <br><br>
                    </div>
                </div>
                <h3>Target</h3>
                <br>
                <!-- Left -->
                <div class="col-md-5">
                    <label for={form.target.id_for_label}>Domain:</label>
                    {{ form.urls }}
                    {% if form.urls.errors %}
                        <span class="error" style="color:red">
                            {% for error in form.urls.errors %}{{ error }}{% endfor %}
                        </span>
                    {% endif %}
                    <br><br>
                </div>
                <!-- Center -->
                <div class="col-md-2">
                    <div style="text-align: center;">
                        <br><br>
                        <p> or </p>
                    </div>
                </div>
                <!-- Right -->
                <div class="col-md-5">
                    <label>IPs:</label>
                    {{ form.ips }}
                    {% if form.ips.errors %}
                        <span class="error" style="color:red">
                            {% for error in form.ips.errors %}{{ error }}{% endfor %}
                        </span>
                    {% endif %}
                    <br><br>
                </div>
                <div class="col-md-5">
                    <h3>Parameters</h3>
                    <br>
                    <div class="col-md-12">
                        <label>Scan type:</label>
                        {{ form.config }} <br>
                        {% if form.config.errors %}
                            <span class="error" style="color:red">
                            {% for error in form.config.errors %}{{ error }}{% endfor %}
                        </span><br>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-12">
                    <div style="text-align: center;">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="mail" id="mail" checked="true">Send results by email at
                                completion.
                            </label>
                        </div>
                        <div class="form-group input-group  col-md-3" id="mail_field"
                             style="display: none; text-align: center;">
                            <span class="input-group-addon">Email </span>
                            {{ form.mail_field }}
                            {% if form.mail_field.errors %}
                                <span class="error" style="color:red">
                                    {% for error in form.mail_field.errors %}{{ error }}{% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        <br><br><br>
                        <button type="submit" class="btn btn-primary" name="save">Save task</button>
                        <button type="submit" class="btn btn-primary" name="cue">Save and execute task</button>
                        <br><br><br>
                    </div>
                </div>
            </form>
        </div>

    {% endif %}
{% endblock content %}